body {
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Inicio de Linea Superior de Ofertas */
#barradeofertas {
    color: rgb(255, 255, 255) !important;
    word-spacing: 7px;
    background-image: url(img/llamas.png);
    background-size: cover;
    width: 100%;
    font-size: 14px;
}
/* Fin de Linea Superior de Ofertas */
/* Inicio Footer */
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    height: 200px;
}
    .redes a {
    color: rgb(80, 18, 95);
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 30px;
}
    .redes a:hover{
    color: rgb(250, 250, 250);
}
/* fin Footer */
/* Inicio main Nosotros */
.m-n {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.m-n p {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (min-width: 700px) {
    .m-n p {
        font-size: 25px;
    }
}
@media only screen and (min-width: 1200px) {
    .m-n p {
        font-size: 35px;
    }
}
@media only screen and (max-width: 450px) {
    .m-n p {
        font-size: 10px;
    }
}
/* Fin main Nosotros */
/* Inicio main Mi Cuenta */
.iniciar-sesion{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.crear-cuenta{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (min-width: 1000px) {
    .mic{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 20%;
    margin-right: 20%;
    }
}
/* Fin main Mi Cuenta */